/* src/styles/global.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.leaflet-container {
    background-color: transparent !important;
}

.leaflet-control-zoom,
.leaflet-control-attribution {
    display: none !important;
}

html, body, #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed; /* 모바일 주소창 숨기기 */
    touch-action: none; /* 모바일 스크롤 완전 차단 */
}

/* 모바일 사파리 100vh 문제 해결 */
@supports (-webkit-touch-callout: none) {
    .h-screen {
        height: -webkit-fill-available;
    }
}